h1 {
    text-align: center; 
     /* Başlığı merkeze hizalayalım */
}
body {
    background-color:darksalmon
}

p {
    text-align: center; 
}

h2 {
    color:rgb(212, 13, 6)
}
figcaption {
    text-align: center; 
}

.fs-30 {
    font-size:20px
}

.color-forestgreen.fw-normal {
color:forestgreen;
font-size:normal;
}
li:first-child {
    color:rgb(7, 177, 7)
}
li:last-child {
    color:rgb(36, 4, 73)
}

li:nth-child(2) {
    background:red
}