h1,h2 {
    text-align: center; /* Başlığı merkeze hizalayalım */
}

p {
    text-align: center; /* Paragraf metnini ortala */
}

ul {
  list-style-position: inside; /* Liste işaretlerini içeri yerleştir */
}


  figcaption {
    text-align: center;
  }

  .vertical-list {
    text-align: center;
  }
  

  .fs-20{
    font-size:20px;
  }
 
  .fs-40{
    font-size:40px;
  }
  
  body {
    background-color: coral;
  }
  
  
/*.color-blue.fw-normal{
  color:blue; font-weight:normal;
}
  
   li:first-child {
      color:green
  }
   li:last-child {
    color:aqua
   }
   li:nth-child(4){
color:red
   }
  
  
  li:nth-child(odd) {
    color:yellow
  }

  li:nth-child(even) {
    background:green
  }
  
  
  li:nth-child(3n+1) {
    color:red
  }
  */