h1,h2 {
    text-align: center; /* Başlığı merkeze hizalayalım */
}

p {
    text-align: center; /* Paragraf metnini ortala */
}

ul {
    list-style-position: inside; /* Liste işaretlerini içeri yerleştir */
}

.vertical-list {
    text-align: center;
  }
  figcaption {
    text-align: center;
  }

  
  .tl-sign::before {
    content: "₺"; /* Türk Lirası işareti Unicode kodu */
  }

  .fs-20{
    font-size:20px;
  }
 
  .fs-40{
    font-size:40px;
  }
  
  
  
  
  
  
  
  
  
  