/*ol{
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
}



h1,h2 {
    text-align: center; 
}
p {
    color:red; 
}

#id-selector-demo {
    color:green
}

li[value="4"] {
    color:blue
}
    
.note{
    font-size: 20px;
}

*{
    text-align: center; 
}*/


/* tüm elementleri seçmek istediğimizde
" *{ text-align: center;} " kullanılır. */

 /*#red {
    color:red
}

#blue {
    color:blue
}

#orange {
    color:orange
}

#green {
    color:green
}
#yellow {
    color:yellow
}
.color-title {
    font-weight: normal;
}
img {
    height:200px;
    width: 200px;
}

* {
    background-color: #FFC6AC 
}

*/
.fs-20 {
    font-size: 20px;
}

body {
    background-color: antiquewhite
}

/*h1 {
    
    color: whitesmoke;
    background-color: darkseagreen
  
}
h2 {
   
    color:#FAF8F1 ;
    background-color: #C58940
  
}
*/




div {
    height: 200px;
    width: 200px;
}

p {
    margin: 0;
    
}

#first {
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid black;
   
}
#second {
    background-color: gold;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
    padding: 10px;
   
}
#third {
    background-color: indianred;
    border: 10px solid black;
    margin-left: 40px;
    
   
}



body {
    background-color: gray;
}
   h1 {
    text-transform: uppercase;
    font-size: 3rem
   }
   .poster {
        width: 50%;
        height: 50%;
        margin-left: 25%;
        margin-top: 100px;
        color:white;
        font-family: "Libre Baskerville", serif;
        text-align: center;
        
   }

   .motivation-img {
    border: 5px solid white;
    width: 100%;
   }

   .fs-20 {
    font-size: 20px;
} 

