*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   padding: 2rem;
}

ul{
   list-style-type: none;
   background-color: rgb(131, 212, 185);
   padding: 1rem;
   display: flex;
   justify-content:center; /*yatay ortalama*/
   align-items: center; /*dikey hizalam*/
   flex-direction: row; /* yön belirler: row:yan yana. column:altalta gelir*/
   gap: 1rem 0.5rem;        /*yatay ve dikeyde arada boşluk verir */
   flex-wrap: wrap;    /*sıkıştırıp alt satıra atar.*/
   


   /*align-content: space-between; çok satırlı verilerin dikeyde hizalanması için kullanılır.*/

   text-align: center; /*yazıları ortalar*/


}

ul li{
   background-color: blueviolet;
   width: 6rem;
  
}

/*****!FLEX-GROW, FLEX-BASIS****/

.container{
   background-color: aquamarine;
   padding: 1rem;
   display: flex;
   padding: 1rem;
   gap: 1rem;
   font-size: 1.3rem;
   justify-content: center;
   flex-wrap: wrap; /*olmadan flex-grow-basis aktif olmaz*/
   text-align: center;

}

/** container altındaki elementleri * la seçilir*/
.container *{
background-color:hotpink;
}

.container header{
   flex-basis: 100%;

   /*flex: flex grow, flex basis demek*/
   flex: 100% ;
}

.left{
   /*birimsiz tek değer varsa bu flex-grow değeri olur.*/
   flex-grow: 2;
}
main{
   flex-grow: 3;
}

.right{
   flex-grow:1 ;
}



.container footer{
   flex-basis: 100%;
}