
.list{
        border: 2px solid red;
}

*{
        background-color: rgb(229, 234, 239);
}
li{
        color:blueviolet;
        list-style-type:lower-roman;
       
}

h1{
        color:red;
}

h1:hover{
        opacity: 0.5;
        color:blue;
        cursor:pointer;
}