/***-------VH(viewport heighy) - VW(viewport width)*******/


/*!vh(viewport Height): tarayıcının görünen alanın yüzde birini temsil eder. ÖR:100vh tarayıcının tamamını kaplar, 50vh tarayıcının yarısını kaplar */


/*?vw(Viewport Width):tarayıcının görünen alanın yüzde birini temsil eder. ÖR:100vw tarayıcının tamamını kaplar, 50vw tarayıcının yarısını kaplar*/

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        height: 102vh;
       background-color: aquamarine;
       border: 10px solid black;
}

.div1{
        background-color: brown;
        width: 50%;   /*body deki width değerinin hep yarısını alır*/
}

.div2{
        background-color: yellow;
        width: 50%; /*div1 claslı divin width değerinin yarısını alır*/
}

.div3{
        background-color: magenta;
        width: 50vw; 
}