*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.box {
        border: 1px solid red;
        margin-bottom:  1rem;
        width: 25rem;
        height: 8rem;
}
.box1{
        background-color: aquamarine;
        overflow:scroll;
}

.box2{
        background-color: chartreuse;
        overflow: auto ;
}

.box3{
        background-color: palevioletred;
        overflow:auto ;
}

.box4{
        background-color: chocolate;
        overflow:auto ;
}

/* .par1{
        width: 30rem;
} */

/*  Yazı metin ve fotoğrafların belli bir width height değerine göre içerisine gömülebiliniyor*/