*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.box{
        width: 7rem;
        height: 7rem;
}
.box1{
        background-color: yellowgreen;
        position: relative;
        left: 2rem;
        top: 2rem;
}
.box2{
        background-color: blueviolet;
        position: relative;
        left: 1rem;
        top: 1rem;
}