*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       
}

.box{
        width: 7rem;
        height: 5rem;
        border: 1px solid black;
}

.box1{
       background-color:blueviolet ; 
       position: absolute;
       left: 0.5rem;
       top: 1rem;
       z-index: 5;
}

.box2{
        background-color: yellow ; 
        position: absolute;
        left: 2rem;
        top: 2rem;
        z-index: 1;
}

.box3{
        background-color: gray ;
        position: absolute; 
        left: 4rem;
        top: 4rem;
        z-index: 0;
}

.box4{
        background-color: green ;
        position: absolute; 
        left: 6rem ;
        top: 6rem;
        z-index: 2;
}

/* Z-İNDEX DEĞERİ:
   box kutularını  3-2-4-1 (en yukarda 1 en aşağıda 3 olacak gib) şeklinde sıralamak için 
   !!!dikkat edilmesi gereken !!! 
   en büyük istediğimiz 1 ise (en büyük değer)
   en küçük istediğimiz 3 ise (en küçük değer) verilmeli
   ara değerlerede aynı hiyerarşi uymalıdır.

   !!ÖR: box3: z-index:0
        box2: z-index: 1
        box4: z-index: 2
        box1: z-index: 5 
   */