*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  /* link altındaki çizgileri siler */
  
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/***--- HEADER---***/

header{
    padding: 20px;
}

ul li{
    display: inline-block;
    
}

ul li a{
    color: black;
    padding: 0.5rem;
    
}

ul li a:hover{
     text-decoration: underline; /*linklerin altını çizer */
}
.header__left{
    float: left;
    line-height: 36px; /* hepsinin ortasından çizgi çekiyor*/
}

.header__right{
    float: right;
}


.header__right--appicon{
    opacity: 0.5;
    vertical-align: middle; /* appicon u ortalar*/
}
.header__right--appicon:hover{
    opacity: 1;
    cursor: pointer;
}

.header__right--button{
    background-color: #4285F4;
    color: white;
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

/* -----MAİN----- */

main{
    margin-top: 200px;
  text-align: center;
 
  }

.main__logo{
     height: 92px;
     width: 272px;
}

.main__searchbar{
    border: 1px solid #D3D3D3;
    height: 38px;
    width: 460px;
    border-radius: 25px;
    margin: 20px auto;
    padding-top: 3px;

}

.main__searchbar:hover{
   box-shadow: rgb(211, 211, 211) 3px 3px 5px;
}

.main__searchbar--magnifier{
    width: 30px;
    height: 30px;
}
.main__searchbar--input{
    height: 25px;
    width: 350px;
    border: none;
    font-size: 14px;
    outline: none;
    vertical-align: middle;
}

.main__serachbar--mic{
    height: 20px;
    width: 15px;
    cursor: pointer;
    vertical-align: middle;
}
