*{
        margin: 0;
        padding: 0;
}

body{
        height: 300px;
        background-color: rgb(230, 211, 186);
        border: 1px solid red ;
}
.box{
        width: 7rem;
        height: 7rem;
}

.container{
        background-color: blue;
        width: 200px;
        height: 300px;
        position: relative;
        left: 1rem;
        top: 2rem;
}

.box1{
        background-color: aqua;
        position: absolute;
        top: 1rem;
        left: 2rem;
}

.box2{
        background-color:chocolate
}