@import
 url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto+Mono:ital,wght@1,700&display=swap');





*{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
}

body{
        background-image: url(./img/netflix-background-image\ 1.png);
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Playfair Display', serif;
        }

        #container{
                height: 1036px;
                width: 1240px;
                /* border: 2px solid red; */
                background-color: rgba(0, 0, 0, 0.3);
                margin:auto;
                margin-top: 30px;
        }
        
        #title{
                font-size: 50px;
                font-weight: 800;
                letter-spacing: 3px;
                font-family: 'Playfair Display', serif;
                font-family: 'Roboto Mono', monospace;
        }
        span{
                color:red;
        }

        #description{
                font-family:'Playfair Display', serif;
        }

        #header{
                text-align: center;
        }

        #form-container{
                margin: auto;
                width: 500px;
                background-color: rgba(0, 0, 0, 0.8);
                padding: 30px 40px;
          }

        #name,
        #age,
        #email,
        #dropdown,
        #feedback{
                width: 100%;
                padding: 10px;
                margin-top: 10px;
        }

        .input-box{
                margin-top: 10px;
        }
        #form-button{
                width: 160px;
                height: 50px;
                background-color: red;
                border-radius:50px;
                color: white;
                border: none;
                
        }

        .form-submit{
               /* width: 160px;
               margin: auto; */
               text-align: center;
        }

        