*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
}

header{
        padding: 40px;
        background-color:red ;
        color: white;
        font-size: 40px ;
}
nav{
        background-color: rgba(0, 255, 153, 0.808);
        padding: 20px;
        font-size: 20px;
        color: aliceblue;
}

nav a{
        color: red;
        text-decoration: underline;
        /* underline:altına çizgi
           overline:üstüne çizgi
           line-through:üzerine çizgi */
       
}
nav a:hover{
        text-decoration: underline;
}

h2{
        margin: 20px 0;
}

figcaption{
        margin-bottom: 30px;
}

footer{
        background-color: black;
        color: white;
        padding: 20px 0;
}